PORT=5003
CLOUD_NAME=your_cloudinary_name_here
CLOUD_API_KEY=your_cloudinary_api_key_here
CLOUD_SECRET_KEY=your_cloudinary_secret_key_here
INTERNAL_SERVICE_KEY=your_internal_service_key_here
RAZORPAY_KEY_ID=your_razorpay_key_here
RAZORPAY_KEY_SECRET=your_razorpay_secret_here
RESTAURANT_SERVICE=http://localhost:5002
RABBITMQ_URL=amqp://admin:admin123@localhost:5672
PAYMENT_QUEUE=payment_event
STRIPE_SECRET_KEY=your_stripe_secret_here
FRONTEND_URL=http://localhost:5173
