PORT=5004
MONGO_URI=your_mongo_uri_here
JWT_SEC=your_jwt_secret_here
UTILS_SERVICE=http://localhost:5003
REALTIME_SERVICE=http://localhost:5005
RESTAURANT_SERVICE=http://localhost:5002
INTERNAL_SERVICE_KEY=your_internal_service_key_here
RABBITMQ_URL=amqp://admin:admin123@localhost:5672
RIDER_QUEUE=rider_queue
ORDER_READY_QUEUE=order_ready_queue
